<form id="comment-form">
    <h2>Add comment</h2>
    <label for="author">Author</label>
    <input type="text" name="author" id="author">
    <label for="comment">Comment text</label>
    <textarea name="comment" id="comment"></textarea>
    <button type="submit">Add comment</button>
</form>
<script>
    document.querySelector("#comment-form")
    .addEventListener("submit", (e)=>{
        e.preventDefault()
        let body = {
            author: e.target["author"].value,
            comment: e.target["comment"].value,
            postId: window.location.pathname.split("/").pop()
        }
        fetch("/comment", {
            method: "POST",
            headers: {
                "Content-type": "application/json"
            },
            body: JSON.stringify(body)
        }).then(()=>location.reload())
    })
</script>