<div class="modal" >
        <div class="modal-content">
            <form>
                <button class="closeBtn" type="button">X</button>
                <h2>Add AD</h2>
                <label for="title">Title</label>
                <input type="text" name="title" id="title">
                <label for="desc">Description</label>
                <textarea name="desc" id="desc"></textarea>
                <label for="image" class="image-label">Upload Image</label>
                <input type="file" accept="image/*" required multiple name="image" id="image">
                <button type="submit">Add ad</button>
            </form>
        </div>
    </div>
    <button id="openBtn">+</button>