<div class="modal">
        <div class="modal-content">
            <form>
                <button class="closeBtn" type="button">X</button>
                <h2>Add AD</h2>
                <label for="title">title</label>
                <input type="text" name="title" id="title">
                <label for="desc">Description</label>
                <textarea name="desc" id="desc"></textarea>
                <button type="submit">Add ad</button>
            </form>
        </div>
    </div>
    <button id="openBtn">+</button>