<!DOCTYPE html>
<html lang="en">
<%- include("head.ejs") -%>
<body>
    <%- include("header.ejs") -%>
    <main>
        <h1>404</h1>
        <h2>Not Found</h2>
        <h3><a href="/">to main page</a></h3>
    </main>
    <%- include("footer.ejs") -%>
</body>
</html>