@use "../_colors" as c;
@use "../base/mixsins" as mixins;

header {
    background: c.$primary-100;
    color: c.$text-100;
    font-family:monospace;
    padding: 1rem;
    text-align: center;
    @include mixins.transparentShadow(c.$primary-100);
}