* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
        --primary-100:#1F3A5F;
    --primary-200:#4d648d;
    --primary-300:#acc2ef;
    --accent-100:#3D5A80;
    --accent-200:#cee8ff;
    --text-100:#FFFFFF;
    --text-200:#e0e0e0;
    --bg-100:#0F1C2E;
    --bg-200:#1f2b3e;
    --bg-300:#374357;
}
body {
    background-color:  var(--bg-100);
    font-family: 'Times New Roman', Times, serif;
    color: antiquewhite;
}

#openBtn {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    border: none;
    background-color: var(--accent-100);
    color: var(--text-200);
}


#openBtn:hover {
    background-color: #4d648d;
    cursor: pointer;
}

.modal {
    position: fixed;
    inset: 0;
    display: none;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
    background-color: var(--bg-200);
    padding: 1rem;
    border-radius: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    position: relative;
}

input, textarea {
    border: none;
    padding: 1rem;
    border-radius: 5px;
}

label {
    margin-top: 1rem;
}

.closeBtn {
    position: absolute;
    color: var(--text-100);
    top: 0.3rem;
    right: 0.3rem;
    background-color: transparent;
    border: none;
}

form button {
    background-color: var(--accent-100);
    padding: 0.5rem;
    color: var(--text-100);
    margin-top: 1rem;
    border: none;
}